body{
  background-color: black;
  box-sizing: border-box;
}

.left{
  margin-top: 10px;
  margin-left: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(248, 188, 228);
  /* height: 600px; */
  border-radius: 10px;
  width: 37%;
  padding: 20px;
  position: relative;
}

.right{
  margin-top: 10px;
  margin-right: 20px;
  border: 2px solid rgb(0, 0, 0);
  /* height: 600px; */
  padding: 20px;
  background-color: rgb(248, 131, 195);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 50%;
}

.page{
  display: flex;
  gap: 20px;
}
Button{
  color:  rgb(111, 0, 126);
  font-size: 17px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 50px;
  border-radius: 10px;
  width: 100px;
  position: fixed;
  position: absolute;
  top: 20px;
  right: 20px;
}

.code{
  margin-top: 0px;
}

.language-javascript{
  padding: 10px;
  border-radius: 10px;
  margin-top: 500px;
}

pre{
  position: relative;
}

.code .language-javascript{
  background-color: #000000;
}