body{
  background-color: black;
}

.left{
  margin-top: 10px;
  margin-left: 20px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(248, 188, 228);
  height: 600px;
  border-radius: 10px;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right{
  margin-top: 10px;
  margin-right: 20px;
  border: 2px solid rgb(0, 0, 0);
  height: 600px;
  background-color: rgb(248, 131, 195);
  color: white;
  border-radius: 10px;
  width: 48%;
}

.page{
  display: flex;
  gap: 20px;
}
Button{
  color: white;
  font-size: 17px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(111, 0, 126);
  height: 50px;
  border-radius: 10px;
  width: 100px;
  position: fixed;
  position: absolute;
  top: 20px;
  right: 20px;
}

.code{
  margin-top: 0px;
}